@charset "UTF-8";
*{
	box-sizing:border-box;font-family:Arial,Helvetica,sans-serif
	}
body{
	height: 100vh;
	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
	color:#222;
	display:flex;
	align-items: center;
	
	}
.container{
	width:900px;
	margin:40px auto;
	background:#fff;
	padding:20px;
	border-radius:8px;
	box-shadow:0 6px 20px rgba(0,0,0,0.08)
	}
h2{
	color:#0b63b8
	}
input, select, textarea, button{
	display:block;
	width:100%;
	padding:10px;margin:8px 0;
	border:1px solid #ddd;
	border-radius:6px
	}
button{
	background:#0b63b8;
	color:#fff;
	border:none;
	cursor:pointer
	}
table{
	width:100%;
	border-collapse:collapse;
	margin-top:10px
	}
th, td{
	padding:8px;
	border:1px solid #eee;
	text-align:left
	}
pre{
	white-space:pre-wrap
	}